body {
	/*background: url('../img/back_1.jpg') no-repeat;*/
	background-size: cover;
	background-attachment: fixed;
}

.wrapper {
	max-width: 2560px;
	width: 80%;
}
div.container-fluid {
	padding: 0;
}
div.menu {
	height: 100vh;
	background: black;
	opacity: 0.9;
}
div.blockAdm{
	background: black;
	opacity: 0.9;
	margin-top: 0;
}
div.blockWEB{
	background: black;
	opacity: 0.9;
	margin-top: 0;
}
div.row nav {
	width: 100%;
}
.affix {
  top: 0;
}

#logo h1, #logo h2 {
	color: white;
	text-align: right;
}

.navList {
	text-align: right;	
}

.navList li a{
	text-decoration: none;
	color: #D3D3D3;
}
#section1 {
	width: 100%;
}
#mainIMG {
	width: 100%;
	
}
#mainIMG img{
	padding-top: 10vh;	
	width: 100%;
	padding-bottom: 2vh;
}
.section1 {
	background: black;
	opacity: 0.9;
	margin-bottom: 200px;
}
p {
	color: white;
	font-size: 1em;
}
.lineText {
	display: block;
	padding: 8px;
}
a.click:hover, a.click2:hover {
	text-decoration: none;
	color: white;	
}
a.click:hover div.lineText, a.click2:hover div.lineText{
	background: #ff4343;		
}
.blockPaddingBottom {
	margin-bottom: 1000px;
}
.lineText {
	margin-top: 5px;	
}
#upButton {
	position: fixed;
	top: 90%;
	right: 10%;
	background: black;
	opacity: 0.7;
}
a#button {
	color: white;
	font-size: 1.5em;
	padding: 20px 10px;
	opacity: 0.7;
}
a#button:hover {
	text-decoration: none;
	opacity: 1;
}
a#button:hover div#upButton{
	opacity: none;
}
.workIMG {
	width: 100%;	
}
#popup {
	display: none;
	background: #fff;
	position: fixed;
	width: 900px;
	height: 600px;
	top: 50%;
	left: 50%;
	margin-left: -450px;
	margin-top: -300px;
	z-index: 999;
}
#hover {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.9);
	z-index: 998;
	cursor: pointer;
}
#popup img{
	width: 100%;
}






@media only screen and (max-width : 1200px) {
	.wrapper {
		margin: 0 auto;
		width: 100%;
	}
	div.menu {		
		background: none;
	}
  	.affix {  
  		z-index: 100;
  	}
	div.block{ 
		margin-top: 500px;
	}
	div.menu { 
  		opacity: 0.8;
  		height: 20vh;
  	}
	
	.nav>li>a{
		display: inline;
		float: right;
	}
	nav {
		background: black;			
	}
	#logo h1, #logo h2 {	
		text-align: center;
	}
}
@media only screen and (max-width : 1024px) {
	div.block{ 
		margin-top: 50px;
	}
	.lineText p {
		text-align: center;
	}
}
@media only screen and (max-width : 992px) {

}
@media only screen and (max-width : 768px) {

}
@media only screen and (max-width : 640px) {
	div.menu {
		height: 200px;
	}
	.col-sm-12 ul {
		width: 100%;
	}
	.col-sm-12 ul li{
		display: inline;
		width: 30%;
		padding: 0 1%;
	}
	.nav>li>a{
		display: inline;
	}
}
@media only screen and (max-width : 480px) {
	#mainIMG img {
		padding-top: 5%;
	}
	.section1 p {
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
	}

}